<div id="slideshow-wrapper">
<div id="slideshow-nav-wrapper">
    <div class="main-center">
        <ul id="banner-nav"></ul>
        <span id="banner-desc"><?=@$this->banners[0]->titulo?></span>
    </div>
</div>
<div class="slideshow" id="slideshow">

<? foreach ($this->banners as $row) { ?>
<? $url = (bool)$row->url ? $row->url : '#'; ?>
<? $target = strstr($url,URL) ? '' : 'target="_blank"'; ?>
<? $img = IMG_URL.'/destaques/'.@$row->foto_path;//.'?w=450&h=450'; ?>
<a href="<?=$url?>" class="foto" <?=$target?> title="<?=$row->titulo?>">
    <span class="img-wrapper">
    <?/*<span class="img"><img src="<?=$img?>" alt="<?=$row->titulo?>" /></span>*/?>
    <span class="img" style="background-image:url(<?=$img?>);"></span>
    </span>
    
    <span class="desc-wrapper">
        <span class="desc">
            <span class="title">
                <?=$row->titulo?>
            </span>
        </span>
    </span>
</a>
<? } ?>

</div> <!-- /slideshow -->
</div> <!-- /slideshow-wrapper -->