<div class="main-center main-content instagram">
	<h1>NOVIDADES</h1>
	
	<div class="posts"></div>
	
	<script type="text/x-jsrender" id="tmplPost">
	<div class="post">
		<a class="post-image" href="{{:post_url}}" target="_blank" style="background-image:url({{:post_image}})">
			
		</a>
		<img class="profile-pic" src="{{:user_image}}" alt="{{:user_name}}" title="{{:user_name}}">
		<div class="caption">
			<div class="text">
				<a href="{{:user_url}}" class="url" target="_blank">{{:user_username}}</a>
				{{:post_caption}}
			</div>
			<span class="time">{{:post_time}}</span>
		</div>
	</div>
	</script>

	<? if($this->feed){ ?>
	<? $user = $this->feed->user; ?>
	<? $posts = $this->feed->posts; ?>
	<? for($i=0;$i<4;$i++) foreach($posts as $post){ ?>
	<div class="post">
		<a class="post-image" href="<?=$post->url?>" target="_blank" style="background-image:url(<?=$post->image?>)">
			<!-- <img src="<?=$post->image?>" alt="<?=$post->caption?>"> -->
		</a>
		<img class="profile-pic" src="<?=$user->image?>" alt="<?=$user->name?>" title="<?=$user->name?>">
		<div class="caption">
			<div class="text">
				<a href="<?=$user->url?>" class="url" target="_blank"><?=$user->username?></a>
				<?=$post->caption?>
			</div>
			<span class="time"><?=$post->time?></span>
		</div>
	</div>
	<? } // /foreach feed->posts ?>
	</div>
	<? } // /if feed ?>
	
	<br clear="all">
	<div class="ver-mais-wrapper">
		<div class="loading"></div>
		<a href="#" class="ver-mais">Ver mais +</a>
	</div>
</div>