<?=$this->categorias?Js::script('var categorias = '.json_encode($this->categorias).';'):""?>
<?=$this->render($this->section."/search.phtml");?>

<div class="<?-$this->section?> search-result">
    <? if($this->rows){ ?>
    <table>
        <thead>
            <tr>
                <td>Nome</td>
                <? if(!$this->only_consultoria){ ?>
                <td width="300">E-mail</td>
                <? } ?>
                <td width="100">CPF/CNPJ</td>
                <td width="100" align="center">Cadastrado em</td>
                <td width="50" align="center">Status</td>
                <? if(@$this->login_permissoes[$this->section]->x){ ?>
                <td width="50" align="center">Excluir</td>
                <? } ?>
            </tr>
        </thead>
        <tbody>
            <? foreach($this->rows as $row){ ?>
            <? $data_cad = explode(" ",$row->data_cad); $data_cad = Is_Date::am2br($data_cad[0]); ?>
            <? $status = $row->status_id == 0 ? "Inativo" : "Ativo"; ?>
            <tr class="<?=($row->is_unread)?'unread':''?>" title="<?=($row->is_unread)?'Novos arquivos':''?>">
                <td>
                    <? if(@$this->login_permissoes[$this->section]->w){ ?>
                    <a href="<?=URL?>/admin/<?=$this->section?>/edit/<?=$row->id?>/"><?=$row->nome.' '.$row->sobrenome?></a>
                    <? } else { ?><?=$row->nome.' '.$row->sobrenome?><? } ?>
                </td>
                <? if(!$this->only_consultoria){ ?>
                <td>
                    <? if(@$this->login_permissoes[$this->section]->w){ ?>
                    <a href="<?=URL?>/admin/<?=$this->section?>/edit/<?=$row->id?>/"><?=$row->email?></a>
                    <? } else { ?><?=$row->email?><? } ?>
                </td>
                <? } ?>
                <td>
                    <? if(@$this->login_permissoes[$this->section]->w){ ?>
                    <a href="<?=URL?>/admin/<?=$this->section?>/edit/<?=$row->id?>/"><?=trim($row->cpf)?Is_Cpf::format($row->cpf):Is_Cpf::formatCNPJ($row->cnpj)?></a>
                    <? } else { ?><?=trim($row->cpf)?Is_Cpf::format($row->cpf):Is_Cpf::formatCNPJ($row->cnpj)?><? } ?>
                </td>
                <td align="center">
                    <? if(@$this->login_permissoes[$this->section]->w){ ?>
                    <a href="<?=URL?>/admin/<?=$this->section?>/edit/<?=$row->id?>/"><?=$data_cad?></a>
                    <? } else { ?><?=$data_cad?><? } ?>
                </td>
                <td align="center">
                    <? if(@$this->login_permissoes[$this->section]->w){ ?>
                    <a href="<?=URL?>/admin/<?=$this->section?>/edit/<?=$row->id?>/"><?=$status?></a>
                    <? } else { ?><?=$status?><? } ?>
                </td>
                <? if(@$this->login_permissoes[$this->section]->x){ ?>
                <td align="center">
                    <a href="<?=URL?>/admin/<?=$this->section?>/del/id/<?=$row->id?>/" class="del">X</a>
                </td>
                <? } ?>
            </tr>
            <? } ?>
        </tbody>
    </table>
    <? } else { ?>
    Nenhum registro.
    <? } ?>
</div>

<br clear="all" />
<?=$this->paginacao->render()?>