    <div id="frm-grupo" class="tabs-container">
        <ul id="lista-participantes">
        
        <? if(!$this->grupo_membros){ ?>
        <li class="row"><label>&nbsp;</label>Nenhum membro no grupo.</li>
        <? } ?>

        <? if($this->grupo_membros) { ?>
        <li class="row"><label>Membros ativos:</label></li>
        <? foreach($this->grupo_membros as $membro){ ?>
        <li class="row">
            <label>&nbsp;</label>
            <a class="grupo-membro nome" href="<?=URL.'/admin/clientes/edit/'.$membro->id?>" target="_blank"><?=$membro->nome?></a>
            <a class="grupo-membro email" href="<?=URL.'/admin/clientes/edit/'.$membro->id?>" target="_blank"><?=$membro->email?></a>
            <input type="hidden" class="grupo-membro-id" name="grupo_membro_id[]" value="<?=$membro->id?>">
            <a href="#" class="del-participante" title="Remover membro">Remover</a>
        </li>
        <? } ?>
        <? } ?>

        <li>
            <label>Adicionar Membro:</label>
            <input type="text" class="txt" name="grupo_nomecompleto[]" placeholder="Nome">
            <input type="text" class="txt" name="grupo_email[]" placeholder="E-mail">
            <a href="#" class="add-participante" title="Adicionar outro membro">Adicionar outro membro</a>
        </li>
        </ul>
    </div> <!-- #frm-grupo -->