<link rel="stylesheet" href="<?=CSS_PATH?>/jquery-ui/jquery-ui.css" id="theme" />
<?=Css::load(CSS_PATH."/admin/jquery.fileupload-ui.css");?>
<?=Css::load(CSS_PATH."/admin/paginas-arquivos.less");?>

<?=Js::load(JS_PATH."/jquery.ui.min.js",
            JS_PATH."/admin/jquery.fileupload.js",
            JS_PATH."/admin/jquery.fileupload-ui.js",
            JS_PATH."/admin/consultoria-arquivos.js");?>

<script type="text/javascript">
var DIR = "<?=$this->section?>";
var DIR2 = "<?=$this->section2?>";
var URL = "<?=URL?>";
</script>

<h3>&raquo; <?=$this->controller=='produtos'?'MATERIAL DE APOIO':'ARQUIVOS'?></h3>

<!-- choose files -->
<ul id="mostrar_arquivos">
    <li>
        <?/*<label for="">Mostrar arquivos :</label>*/?>
        <label class="lbl-inline">
            <input type="radio" name="consult_tipo_arq[]" id="consult_tipo_arq-0" value='0' checked />
            Todos
        </label>
        <label class="lbl-inline">
            <input type="radio" name="consult_tipo_arq[]" id="consult_tipo_arq-1" value='1' <?=($this->tipo_arq==1)?'checked':''?> />
            Recebidos
        </label>
        <label class="lbl-inline">
            <input type="radio" name="consult_tipo_arq[]" id="consult_tipo_arq-2" value='2' <?=($this->tipo_arq==2)?'checked':''?> />
            Enviados
        </label>
    </li>
</ul>
<br>

<ul id="paginas_arquivos" class="list_files">
    <? $noname = "Dê um nome para o arquivo e tecle [Enter]..."; ?>
    <?=Js::script('var noname = "'.$noname.'";');?>
    <? if(count($this->arquivos)){ foreach($this->arquivos as $arquivo){ ?>
    <li class="enviado-<?=$arquivo->enviado_consultoria?> <?=$arquivo->is_unread?'unread':''?>">
        <?/*<span class="arrow arrow-<?=$arquivo->enviado_consultoria?>"><?=$arquivo->enviado_consultoria?'&uarr;':'&darr;'?></span>*/?>
        <a href='<?=URL?>/public/files/<?=$this->section?>/<?=$arquivo->arquivo_path?>' rel='' class='file-link arrow-<?=$arquivo->enviado_consultoria?>' title='Baixar arquivo <?=$arquivo->enviado_consultoria?'Enviado':'Recebido'?>'>
            <?=$arquivo->enviado_consultoria?'&uarr;':'&darr;'?>
        </a>
        <input type="text" class="arquivo_descricao" name="descricao[]" value="<?=!empty($arquivo->arquivo_descricao)?($arquivo->arquivo_descricao):$noname?>" title="Alterar nome do arquivo (Tecle [Enter] para salvar)" />
        <input type="hidden" class="arquivo_descricao_original" name="descricao_original[]" value="<?=!empty($arquivo->arquivo_descricao)?($arquivo->arquivo_descricao):$noname?>" />
        <textarea name="obs[]" class="arquivo_obs" placeholder="Inserir descrição"><?=$arquivo->arquivo_obs?></textarea>
        <input type="hidden" class="arquivo_obs_original" name="obs_original[]" value="<?=!empty($arquivo->arquivo_obs)?($arquivo->arquivo_obs):''?>" />
        <button title="Excluir" class="ui-state-default ui-corner-all file-delete3">
            <span class="ui-icon ui-icon-trash"></span>
        </button>
        <button title="Salvar" class="ui-state-default ui-corner-all file-save">
            <span class="ui-icon ui-icon-check"></span>
        </button>
        <input type="hidden" name="arquivo_id[]" value="<?=$arquivo->arquivo_id?>" class="arquivo_id" />
        <input type="hidden" name="flag[]" value="1" class="flag" />
    </li>
    <? }} ?>
</ul>

<div id="file_upload2_container">
    <form id="file_upload2" action="<?=$this->url?>upload.json?arquivo&id=<?=$this->id?>" method="POST" enctype="multipart/form-data">
        <input type="file" name="file"  <?=@$this->MAX_FILES>1 ? 'multiple' : ''?> />
        <button>Enviar arquivo<?=((bool)@$this->MAX_FILES)?'s (Máx. '.$this->MAX_FILES.')':''?></button>
        <div>Enviar arquivo<?=((bool)@$this->MAX_FILES)?'s (Máx. '.$this->MAX_FILES.')':''?></div>
        <input type="hidden" name="pagina_id" id="pagina_id" value="<?=$this->id?>" />
    </form>
    
    <table id="file_upload2_list" cellspacing="0" width="100%"></table>
</div>