    <div id="frm-instrucoes" class="tabs-container">
        <ul>
            <li>
                <textarea class="txt wysiwyg" name="instrucoes_gerais" id="instrucoes_gerais"><?=@$this->instrucoes->body?></textarea>
                <input type="hidden" name="instrucoes_gerais_id" value="<?=@$this->instrucoes->id?>">
            </li>
        </ul>
    </div> <!-- #frm-instrucoes -->