<div class="search-bar">
    <? if(@$this->login_permissoes[@$this->section]->w){ ?>
    <? $url_search = $this->url.'new/'; ?>
    <? if($this->only_consultoria) $url_search = $this->url.'new-consult/'; ?>
    <form action="<?=$url_search?>" method="get" class="order-form">
        <input type="submit" class="bt" value="+ Adicionar" />
    </form>
    <? } ?>
    
    <form action="" method="get" class="search-form">
        <label for="search-by" class="search-label">Buscar por:</label>
        <?=$this->formSelect('search-by',@$_POST['search-by'],array('class'=>'txt'),array(
            "nome"=>"Nome",
            "email"=>"E-mail",
            "cpf"=>"CPF",
            "cnpj"=>"CNPJ",
            // "categoria_id"=>"Categoria",
        ))?>
        <? $searchTxt = $this->formText('search-txt',@$_POST['search-txt'],array('class'=>'txt')); ?>
        <? if(@$_POST['search-by']=='categoria_id') $searchTxt = $this->formSelect('search-txt',@$_POST['search-txt'],array('class'=>'txt','style'=>'width: 180px;'),$this->categorias); ?>
        <? if(@$_POST['search-by']=='cnpj') $searchTxt = $this->formText('search-txt',@$_POST['search-txt'],array('class'=>'txt mask-cnpj')); ?>
        <?=$searchTxt?>

        <?/*<label for="cliente_treinamentos" class="lbl-inlines">
            <?=$this->formCheckbox('cliente_treinamentos',(isset($_POST['cliente_treinamentos'])?$_POST['cliente_treinamentos']:1),array('class'=>'txt'),array(1,0))?>
            Treinamentos
        </label>
        <label for="cliente_consultoria" class="lbl-inlines">
            <?=$this->formCheckbox('cliente_consultoria',(isset($_POST['cliente_consultoria'])?$_POST['cliente_consultoria']:1),array('class'=>'txt'),array(1,0))?>
            Consultoria
        </label>*/?>
        <input type="submit" class="bt" value="Enviar" />
    </form>
</div>