<div class="main-center main-content clipping">
	<? if($this->rows){ ?>
	<div class="posts">
	<? //$i=0; for($j=0;$j<14;$j++) foreach ($this->rows as $row) { $i++; ?>
	<? $i=0; foreach ($this->rows as $row) { $i++; ?>
	<? $img = $row->capa_id ? $row->thumbnail : @$row->fotos[0]->path; ?>
	<? $img = IMG_URL.'/clippings/'.imgThumbPath($img,'150x150_nocrop'); ?>
	<? //$img = URL.'/img/'.($img ? 'clippings|'.$img.'?w=200&h=200&noadapt' : 'not-found.jpg'); ?>
	<? //$url = IMG_URL.'/clippings/'.@$row->fotos[0]->path; ?>
	<? $url = URL.'/publicacoes/'.$row->alias.'-'.$row->id; ?>
	<? $class = 'post clipping root '; ?>
	<? //if($i%7==0){ $class.= 'last-desk '; } ?>
	<? //if($i%4==0){ $class.= 'last-tab '; } ?>
	<? if($i%2==0){ $class.= 'last-cel '; } ?>
	<? $mes = (trim($row->data)) ? $this->date($row->data,Zend_Date::MONTH_NAME) : ''; $ano = reset(explode('-',$row->data)); ?>
	<!-- <a class="<?=$class?>" href="<?=$url?>" title="<?=$row->titulo_pt?>" style="background-image:url(<?=$img?>)" data-fancybox="clipping<?=$row->id?>"> -->
	<a class="<?=$class?>" href="<?=$url?>" title="<?=$row->titulo_pt?>" data-fancybox="clipping<?=$row->id?>">
		<figure><img src="<?=$img?>" alt="<?=$row->titulo_pt?>"></figure>
		<span class="titulo"><?=$row->titulo_pt?></span>
		<span class="data"><?=$mes.' '.$ano?></span>
	</a>

	<? if((bool)$row->fotos){ ?>
	<div class="hidden-gallery">
        <? foreach ($row->fotos as $foto){ ?>
        <? if($foto->flag!='1'){ ?>
        <a href="<?=IMG_URL.'/clippings/'.$foto->path?>" class="clipping sub" data-fancybox="clipping<?=$row->id?>" rel="clipping<?=$row->id?>">
            <?=$foto->descricao_pt?>
        </a>
        <? } ?>
        <? } ?>
    </div>
	<? } // /if $row->fotos ?>

	<? } // /foreach rows ?>
	</div>
	<br clear="all">
	<?/*<div class="ver-mais-wrapper">
		<div class="loading"></div>
		<a href="#" class="ver-mais">Ver mais +</a>
	</div>*/?>
	<? } // /if rows ?>


	<script type="text/x-jsrender" id="tmplPost">
	<a class="post clipping loaded root" href="<?=IMG_URL?>/clippings/{{:thumbnail}}" title="{{:titulo_pt}}" style="background-image:url(<?=IMG_URL?>/clippings/{{:thumbnail}})" data-fancybox="clipping{{:id}}">
		{{:titulo_pt}}
	</a>

	{{if fotos}}
	<div class="hidden-gallery">
        {{for fotos ~rootid=id}}
        {{if flag!='1'}}
        <a href="<?=IMG_URL?>/clippings/{{:path}}" class="clipping sub" data-fancybox="clipping{{:~rootid}}" rel="clipping{{:~rootid}}">
            {{:descricao_pt}}
        </a>
        {{/if}}
        {{/for}}
    </div>
	{{/if}}
	</script>
</div>