<? $row = $this->row; ?>
<div class="main-center main-content clipping interna">
	<? $capa = $row->capa_id ? $row->thumbnail : @$row->capa->path; ?>
	<? $capa = trim($capa) ? $capa : @$row->fotos[0]->path; ?>
	<? //$img = IMG_URL.'/clippings/'.($capa ? imgThumbPath($capa,'150x150_nocrop') : '../not-found.jpg'); ?>
	<? $img = URL.'/img/'.($capa ? 'clippings|'.$capa.'?w=200&h=200&noadapt' : 'not-found.jpg'); ?>
	<? $css = 'class="" style="background-image:url('.$img.')" '; ?>
	<? $mes = (trim($row->data)) ? $this->date($row->data,Zend_Date::MONTH_NAME) : ''; $ano = reset(explode('-',$row->data)); ?>
	<h2 <?=$css?>>
		<span class="titulo"><?=$row->titulo_pt?></span>
		<span class="data"><?=$mes.' '.$ano?></span>
		<span class="desc desktop"><?=nl2br($row->descricao_pt)?></span>
		<span class="desc mobile-tab"><?=nl2br($row->descricao_pt)?></span>
	</h2>
	<p class="desc mobile-cel"><?=nl2br($row->descricao_pt)?></p>

	<?/*<div class="body"><?=$row->body?></div>*/?>

	<? if((bool)$row->fotos){ ?>
	<div id="fotos">
		<? $i=0; foreach($row->fotos as $foto){ ?>
		<? if($foto->flag==1){ continue; } $i++; ?>
		<? $img = IMG_URL.'/clippings/'.$foto->path; ?>
		<? $class = 'foto foto-'.$i; // thumb ?>
		<? if($i%3==0){ $i=0; } ?>
		<? $css = 'class="'.$class.'" '; ?>
		<a href="<?=$img?>" <?=$css?> target="_blank">
			<img src="<?=$img?>" alt="imagem <?=$i?>">
		</a>
		<? } // /foreach row->fotos1 ?>
	</div>
	<? } // /if (bool)$row->fotos ?>

	<br clear="all">
	<a href="<?=URL?>/publicacoes" class="bt-voltar">voltar</a>
</div>