<?=Js::script('var MAX_FILES = '.($this->MAX_FILES ? $this->MAX_FILES : '0').';')?>
<?=Js::script('var MAX_FOTOS = '.($this->MAX_FOTOS ? $this->MAX_FOTOS : '0').';')?>
<?=Js::script('allow_photos = '.($this->allow_photos ? 'false' : 'false').';')?>
<? if($this->id && $this->allow_photos){ $this->fotos_in_text = 0; ?>
<div class="content-right">
    <div id="fotos">
        <?//=$this->render($this->section.'/fotos.phtml');?>
        <?=$this->render($this->section.'/fotos1.phtml');?>
    </div>

    <? if(0){ ?>
    <div id="videos">
        <?=$this->render($this->section.'/videos.phtml');?>
    </div>
    <? } // /if 0 ?>

    <? if($this->allow_files){ ?>
    <div id="arquivos">
        <?=$this->render($this->section.'/arquivos.phtml');?>
    </div>
    <? } ?>
</div>
<? } ?>

<div id="form-new">
    <form action="<?=$this->form->getAction();?>" method="<?=$this->form->getMethod();?>" id="<?=$this->form->getId();?>" class="<?=$this->form->getId();?>">
        <ul>
            <? /*if($this->id){ ?>
            <li class="txt">
                <label for="">Link da notícia</label>
                <? $url_obra = URL.'/obra/'.$this->form->alias->getValue().'-'.$this->id; ?>
                <? $url_obra = URL.'/artigos-e-novidades/'.$this->form->alias->getValue().'-'.$this->id; ?>
                <a class="txt link-obra" href="<?=$url_obra?>" target="_blank">
                    <?=$url_obra?>
                </a>
            </li>
            <? }*/ ?>
            <? foreach($this->form->getElements() as $elm){ ?>
            <li class="<?=$elm->getAttrib("class")?>">
                <? if($elm->getId() != "submit"){ ?>
                <label for="<?=$elm->getId()?>"><?=$elm->getLabel()?></label>
                <? } ?>
                
                <?=$elm->render()?>

                <? /*if($elm->getId() == "body" || $elm->getId() == "body_pt" || $elm->getId() == "body_en"){ ?>
                <span class="tip">
                    * Para inserir um vídeo no texto, utilize ícone correspondente na barra de ferramentas ou insira o bbcode [video] contendo a URL ou ID do vídeo no Youtube. Por Exemplo:
                    <br />
                    <b>[video]http://www.youtube.com/watch?v=oSLeDfu82Do[/video]</b> ou <br>
                    <b>[video]oSLeDfu82Do[/video]</b>
                    <br /><br />
                </span>
                <? }*/ ?>
            </li>
            <? } ?>
        </ul>
        <div class="bt-container">
            <input type="submit" class="bt" value="<?=$this->id?'Salvar':'Criar'?>" id="submit" />
            <a href="<?=$this->url?>" class="voltar">&larr; Voltar</a>
        </div>
    </form>
</div>