<div class="main-center main-content">
	<div class="pagina-body">
		<div class="body"><?=$this->pagina->body?></div>
		<div class="body2"><?=$this->pagina->body2?></div>
	</div>
	
	<? if((bool)trim($this->pagina->fotos_fixas->foto1)){ ?>
	<div class="pagina-imgs">
	<figure class="pagina-img perfil">
		<img src="<?=IMG_URL.'/paginas/'.$this->pagina->fotos_fixas->foto1?>" alt="<?=$this->pagina->titulo?>">
	</figure>
	<? } ?>
	
	<? if((bool)trim($this->pagina->fotos_fixas->foto2)){ ?>
	<figure class="pagina-img empresa">
		<img src="<?=IMG_URL.'/paginas/'.$this->pagina->fotos_fixas->foto2?>" alt="<?=$this->pagina->titulo?>">
	</figure>
	</div>
	<? } ?>
</div>