                <form action="<?=URL?>/login/" id="form-login" method="post" class="form-inscricao-padrao inscricao-login-form">
                    <label>E-MAIL <br>
                        <input type="text" autofocus name="login" id="email" class="txt required" required data-validate="Preencha seu login corretamente">
                    </label>
                    <label>SENHA <br>
                        <input type="password" name="senha" id="senha" class="txt required" required data-validate="Preencha sua senha corretamente">
                    </label>
                    
                    <?/*<a href="<?=URL?>/esqueci-minha-senha">esqueci minha senha »</a>*/?>
                    
                    <input type="submit" class="submit-bt" id="submit-bt" value="ENTRAR">
                    <a href="#" id="submit">Entrar</a>
                    <a href="<?=URL?>/esqueci-minha-senha" class="esq-senha">esqueci minha senha &raquo;</a>
                </form>