<div class="main-center main-content login">
    <h1 class="dados-pessoais">
        <?=$this->login_titulo?>
    </h1>

    <div class="center1">
        <h2>Faça o login para acessar conteúdo restrito.</h2>

        <div class="content-main inscricao center">
            <?=$this->render('login/form-login.phtml')?>
        </div>
    </div>
    
    <? /*if($this->login_area=='portal'){ ?>
    <div class="center2">
        <?//<h3>SOU NOVO ALUNO:</h3>//?>
        <h3>NOVO CADASTRO:</h3>

        <a href="<?=URL?>/cadastro" class="fazer-cadastro">FAZER CADASTRO</a>
    </div>
    <? } // /if $this->login_area=='portal'*/ ?>
</div>

<br clear="all">
<br clear="all">