<? $menu = array(
	'home'       => array('Painel','/'),
    'home2'      => array('Home','/destaques'),
    'quem-somos' => array('PA3','/paginas/edit/2'),
    // 'servicos'   => array('O que fazemos','/paginas/edit/3'),
    'arquitetos' => array('Arquitetos','/arquitetos','pages'=>array(
        'arq-new'  => array('Novo Arquiteto','/arquitetos/new'),
        'arq-eqp'  => array('Equipe','/paginas/edit/4','class'=>'bd-top'),
    )),
    'projetos'   => array('Projetos','/obras','pages'=>array(
        'pro-new'  => array('Novo Projeto','/obras/new'),
    )),
    'clipping'   => array('Publicações','/clippings','pages'=>array(
        'cli-new'  => array('Nova Publicação','/clippings/new'),
    )),
	'configs' => array('Configurações','#','pages'=>array(
        'empresa' => array('Dados da empresa','/dados-empresa'),
        'usuarios' => array('Usuários','/usuarios'),
    )),
	'logout'  => array('Sair','/login/logout'),
); ?>

<div class="admin-menu">
    <ul class="navigation">
    	<? foreach($menu as $k => $m){ ?>
        <? $act = strstr(FULL_URL, $m[1]) ? 'active ' : ''; ?>
        <? if(isset($m['class'])){ $act.= $m['class'].' '; } ?>
        <? $url = $m[1]=='#' ? '#' : URL_ADMIN.$m[1]; ?>
        <li>
            <? if(isset($m['pages'])){ ?>
            <a href="<?=$url?>" class="<?=$k?> <?=$act?> has-sub"><?=$m[0]?></a>
            <ul class="has-sub" id="sub-<?=$k?>">
                <? foreach($m['pages'] as $s){ ?>
                <? $act2 = strstr(FULL_URL, $s[1]) ? 'active ' : ''; ?>
                <? if(isset($s['class'])){ $act2.= $s['class'].' '; } ?>
                <? $url2 = $s[1]=='#' ? '#' : URL_ADMIN.$s[1]; ?>
                <li>
                    <a href="<?=$url2?>" class="<?=$act2?>"><?=$s[0]?></a>
                </li>
                <? } // /foreach m['pages'] ?>
            </ul>
            <? } else { ?>
            <a href="<?=$url?>" class="<?=$k?> <?=$act?>"><?=$m[0]?></a>
            <? } // /if isset($m['pages']) ?>
    	</li>
    	<? } // /foreach menu ?>
    </ul>
</div>