<? $menu = array(
	'home'       => array('HOME','/'),
	'quem-somos' => array('PA3','/quem-somos'),
    'arquitetos' => array('ARQUITETOS','/arquitetos'),
	// 'fazemos'    => array('O QUE FAZEMOS','/o-que-fazemos'),
    'projetos'   => array('PROJETOS','/projetos'),
    // 'novidades'  => array('NOVIDADES','/novidades'),
    'clipping'   => array('PUBLICAÇÕES E PRÊMIOS','/publicacoes'),
	'contato'    => array('CONTATO','/contato'),
); ?>

<ul class="navigation">
	<? foreach($menu as $k => $m){ ?>
    <? $act = $this->module=='default'&&strstr(FULL_URL, $m[1]) ? 'active' : ''; ?>
    <? if($k=='home'&& $this->controller!='index'){ $act = ''; } ?>
    <? $url = $m[1]=='#' ? '#' : URL.$m[1]; ?>
    <li>
        <a href="<?=$url?>" class="<?=$k?> <?=$act?>"><?=$m[0]?></a>
	</li>
    
    <? if(@$this->menu_area=='footer' && $k=='arquitetos'){ ?>
    </ul><ul class="navigation">
    <? } // /if @$this->menu_area=='footer' ?>

	<? } // /foreach menu ?>
</ul>