<div class="main-center main-content arquitetos">
	<? $i=0; foreach($this->rows as $row){ $i++; ?>
	<? $class = 'arquiteto arquiteto-'.$i; ?>
	<? if($i%2==0){ $i=0; } ?>
	<? $css = 'class = "'.$class.'" '; ?>
	<? $img = IMG_URL.'/arquitetos/'.$row->foto_path; ?>
	<div <?=$css?>>
		<figure>
			<img src="<?=$img?>" alt="<?=$row->titulo?>">
		</figure>
		<h3><?=$row->titulo?></h3>
		<h4><?=$row->cargo?></h4>

		<div class="body"><?=$row->body?></div>
	</div>
	<? } // /foreach this->rows ?>

	<br clear="all">
	<? $pag = $this->pagina; ?>
	<div id="pagina">
		<h3>EQUIPE</h3>
		<div class="body body-1"><?=$pag->body?></div>
		<div class="body body-2"><?=$pag->body2?></div>
	</div>
</div>