                <a href="#" class="aviso-destaque add-treinamento aviso-vagas">
                    <span class="no-arrow">
                        O CURSO QUE VOCÊ SELECIONOU ESTÁ COM SEU NÚMERO DE VAGAS PREENCHIDO. <br>
                        VOCÊ PODE DEIXAR SEU NOME NA LISTA DE ESPERA. SE ABRIREM MAIS VAGAS PARA <br>
                        ESTE TREINAMENTO VOCÊ SERÁ AVISADO POR E-MAIL OU TELEFONE.
                    </span>
                </a>
                
                <h4>
                    <? /*if($this->login->user){ ?>
                    <a href="<?=URL?>/login/logout" class="botao-sair">sair [x]</a>
                    <? }*/ ?>
                    CADASTRO PARA LISTA DE ESPERA
                </h4>
                <div class="inscricao-wrapper">
                    <? //$this->step = 1; ?>
                    <?//=$this->render('meu-carrinho/passos.phtml')?>

                    <form action="<?=URL?>/cadastro/interesse/produto/<?=$this->produto_id?>" method="post" class="form-inscricao-padrao">
                        <div class="row">
                            <label for="nome">nome completo</label>
                            <div class="formulario">
                                <input type="text" name="nome" id="nome">
                            </div>
                        </div>
                        <div class="row">
                            <label for="email">e-mail</label>
                            <div class="formulario">
                                <input type="email" name="email" id="email">
                            </div>
                        </div>
                        <div class="row">
                            <label for="telefone">telefone</label>
                            <div class="formulario">
                                <input type="text" name="telefone" id="telefone" class="mask-tel">
                            </div>
                        </div>
                        <a href="#" class="form-submit">
                            <input type="hidden" name="produto_id" value="<?=$this->produto_id?>">
                            <span>CADASTRAR-ME EM LISTA DE ESPERA</span>
                        </a>
                    </form>
                </div>