            <? $this->step = 3; ?>
            <?=$this->render('meu-carrinho/passos.phtml')?>

            <h1 class="dados-pessoais">
                <?=($this->sessionCadastro->isCursoFromIncompany)?'CONTRATO FATURADO':'DADOS DE PAGAMENTO'?>
                <? if($this->login->user){ ?>
                <a href="<?=URL?>/login/logout" class="botao-sair">sair [x]</a>
                <? } ?>
            </h1>
                
            <form action="<?=URL.'/'.$this->controller?>/save3" method="post" class="form-inscricao-padrao dados-pagamento-form" id="form-inscricao-passo3">
                <p class="titulo-form"><?=($this->row_dados)?'Confirme os dados de faturamento':'Dados do responsável pelo pagamento'?>:</p>
                <br>
                <label>
                    <span>CNPJ</span>
                    <input type="text" name="cnpj" id="cnpj" class="mask-cnpj" required value="<?=($this->row_dados)?$this->row_dados->cnpj:''?>">
                </label>
                <label>
                    <span>razão social</span>
                    <input type="text" name="nome" id="razaosocial" required value="<?=($this->row_dados)?$this->row_dados->nome:''?>">
                </label>
                <label>
                    <span>inscrição estadual</span>
                    <input type="text" name="insc_est" id="inscricaoestadual" value="<?=($this->row_dados)?$this->row_dados->insc_est:''?>">
                </label>
                <label>
                    <span>e-mail</span>
                    <input type="text" name="email" id="email" value="<?=($this->row_dados)?$this->row_dados->email:''?>">
                </label>
                <label>
                    <span>telefone para contato</span>
                    <input type="text" name="telefone" id="telefone" class="half-width mask-cel" value="<?=($this->row_dados)?$this->row_dados->telefone:''?>">
                </label>
                <label>
                    <span>CEP</span>
                    <input type="text" name="cep" id="cep" class="half-width mask-cep" placeholder="digite para simular a busca" value="<?=($this->row_dados)?$this->row_dados->cep:''?>">
                    <div class="loading">&middot;&middot;&middot;</div>
                </label>
                <div class="campos-cep hidden">
                    <label>
                        <span>endereço</span>
                        <input type="text" name="logradouro" id="logradouro" value="<?=($this->row_dados)?$this->row_dados->logradouro:''?>">
                    </label>
                    <label>
                        <span>número</span>
                        <input type="text" name="numero" class="quarter-width" id="numero" value="<?=($this->row_dados)?$this->row_dados->numero:''?>">
                    </label>
                    <label>
                        <span>complemento</span>
                        <input type="text" name="complemento" class="half-width" id="complemento" value="<?=($this->row_dados)?$this->row_dados->complemento:''?>">
                    </label>
                    <label>
                        <span>bairro</span>
                        <input type="text" name="bairro" class="handle-bairro" id="bairro" value="<?=($this->row_dados)?$this->row_dados->bairro:''?>">
                    </label>
                    <label>
                        <span>cidade</span>
                        <input type="text" name="cidade" class="handle-cidade" id="cidade" value="<?=($this->row_dados)?$this->row_dados->cidade:''?>">
                    </label>
                    <label>
                        <span>UF</span>
                        <?/*<input type="text" name="uf" class="handle-uf" class="quarter-width">*/?>
                        <?=($this->row_dados)?
                                $this->form->getElement('uf')->setValue($this->row_dados->uf_id)->render():
                                $this->form->getElement('uf')->render()?>
                    </label>
                    <?/*<div class="row">
                        <span>endereço de cobrança</span>
                        <div class="radios">
                            <label>
                                <input type="radio" name="pf_endereco_cobranca" class="endereco-cobranca-radio" value="mesmo" checked>
                                o mesmo
                            </label>
                            <label>
                                <input type="radio" name="pf_endereco_cobranca" class="endereco-cobranca-radio" value="novo">
                                cadastrar novo
                            </label>
                        </div>
                    </div>*/?>
                </div>

                <? if(!$this->sessionCadastro->isCursoFromIncompany){ ?>
                <div class="codigo-promocional">
                    <label>
                        <span>Possui código promocional?</span>
                        <input type="text" name="codigo-promocional" placeholder="inserir código promocional" class="half-width cod-promo-cod item-cupom-desconto" id="codigo-promocional">
                        <? $cart_pids = array(); ?>
                        <span class="status-cod-promo cart-item-cupom-desconto-price"></span>
                        <? foreach($this->cart->items as $item){ $cart_pids[]=$item->item->id; } ?>
                        <? $cart_pids = implode(',', $cart_pids); ?>
                        <input type="hidden" id="codigo-promocional-produtos" class="cod-promo-pids item-cupom-produtos" value="<?=$cart_pids?>" >
                    </label>
                    <a href="#" id="calcular-desconto" class="cart-item-amount-check-cupom-desconto">CALCULAR DESCONTO</a>
                </div>
                <? } ?>

                <p class="pagamento-valor-total">
                    <? $valor_total_treinamentos = 0; ?>
                    <? //foreach($this->cart->items as $item){ $valor_total_treinamentos+= $item->item->valor; } ?>
                    <? foreach($this->cart->items as $item){ 
                        ($this->sessionCadastro->isGrupo) ?
                            $valor_total_treinamentos+= $item->item->valor_grupo*$this->sessionCadastro->grupoQtde :
                            $valor_total_treinamentos+= $item->item->valor;
                    } ?>
                    <? if($this->sessionCadastro->isCursoFromIncompany){ ?>
                    VALOR DE CONTRATO
                    <? } else { ?>
                    VALOR TOTAL DOS TREINAMENTOS:
                    <font class="price-total"><?=_currency($valor_total_treinamentos)?></font>
                    <? } ?>
                    <input type="hidden" class="item-cart-total" value="<?=$valor_total_treinamentos?>">
                    <input type="hidden" class="item-cart-total-check" value="<?=$valor_total_treinamentos?>">
                </p>

                <?/*<label class="termos-e-condicoes">
                    <input type="checkbox" name="termos" id="termos" value="1">
                    Li e aceito os 
                    <a href="<?=URL?>/termos-e-condicoes-comerciais?iframe" id="link-termos-opener">TERMOS E CONDIÇÕES COMERCIAIS</a>
                    para a aquisição do(s) treinamento(s) supra citados.
                </label>

                <div class="texto-infoad">
                    <?=$this->pagina_infoad->body?>
                </div>
                <?/*<p class="titulo-form">Informações Adicionais</p>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus tempora quod omnis cumque facere ab!</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam suscipit accusamus repellendus animi libero delectus reprehenderit repudiandae ipsa veritatis in.</li>
                </ul>*/?>

                <input type="submit" class="prosseguir" value="PROSSEGUIR &raquo;">
            </form>

                <?/*<h4>
                    <? if($this->login->user){ ?>
                    <a href="<?=URL?>/login/logout" class="botao-sair">sair [x]</a>
                    <? } ?>
                    FORMULÁRIO DE INSCRIÇÃO
                </h4>
                <div class="inscricao-wrapper">
                    <? $this->step = 3; ?>
                    <?=$this->render('meu-carrinho/passos.phtml')?>

                    <h5>NOVO CADASTRO</h5>
                    <h6>DADOS DO RESPONSÁVEL PELO PAGAMENTO | PESSOA JURÍDICA</h6>
                    <form action="<?=URL.'/'.$this->controller?>/save3" method="post" class="form-inscricao-padrao" id="form-inscricao-passo3">
                        <div class="row">
                            <label for="cnpj">CNPJ</label>
                            <div class="formulario">
                                <input type="text" name="cnpj" id="cnpj" class="mask-cnpj">
                            </div>
                        </div>
                        <div class="row">
                            <label for="razaosocial">razão social</label>
                            <div class="formulario">
                                <input type="razaosocial" name="nome" id="razaosocial">
                            </div>
                        </div>
                        <div class="row">
                            <label for="inscricaoestadual">inscrição estadual</label>
                            <div class="formulario">
                                <input type="text" name="insc_est" id="inscricaoestadual">
                            </div>
                        </div>
                        <div class="row">
                            <label for="cep">CEP</label>
                            <div class="formulario">
                                <input type="text" name="cep" id="cep" class="mask-cep">
                            </div>
                        </div>
                        <div class="row">
                            <label for="enderecoempresa">endereço empresa</label>
                            <div class="formulario">
                                <input type="text" name="logradouro" id="logradouro">
                            </div>
                        </div>
                        <div class="row">
                            <label for="numero">número</label>
                            <div class="formulario">
                                <input type="text" name="numero" id="numero">
                            </div>
                        </div>
                        <div class="row">
                            <label for="complemento">complemento</label>
                            <div class="formulario">
                                <input type="text" name="complemento" id="complemento">
                            </div>
                        </div>
                        <div class="row">
                            <label for="bairro">bairro</label>
                            <div class="formulario">
                                <input type="text" name="bairro" id="bairro">
                            </div>
                        </div>
                        <div class="row">
                            <label for="cidade">cidade</label>
                            <div class="formulario">
                                <input type="text" name="cidade" id="cidade">
                            </div>
                        </div>
                        <div class="row">
                            <label for="uf">UF</label>
                            <div class="formulario">
                                <?=$this->form->getElement('uf')->render()?>
                            </div>
                        </div>
                        <?/*<div class="row">
                            <label>endereço de envio NF</label>
                            <div class="formulario">
                                <label>
                                    <input type="radio" name="enderecoenvionf" value="mesmo" class="form-novoendereco-handle" checked>
                                    o mesmo
                                </label>
                                <label>
                                    <input type="radio" name="enderecoenvionf" value="novo" class="form-novoendereco-handle">
                                    cadastrar novo
                                </label>
                            </div>
                        </div>
                        <div class="form-novo-endereco">
                            <div class="row">
                                <label for="nf-cep">CEP</label>
                                <div class="formulario">
                                    <input type="text" name="nf-cep" id="nf-cep">
                                </div>
                            </div>
                            <div class="row">
                                <label for="nf-endereco">endereço</label>
                                <div class="formulario">
                                    <input type="text" name="nf-endereco" id="nf-endereco">
                                </div>
                            </div>
                            <div class="row">
                                <label for="nf-numero">número</label>
                                <div class="formulario">
                                    <input type="text" name="nf-numero" id="nf-numero">
                                </div>
                            </div>
                            <div class="row">
                                <label for="nf-complemento">complemento</label>
                                <div class="formulario">
                                    <input type="text" name="nf-complemento" id="nf-complemento">
                                </div>
                            </div>
                            <div class="row">
                                <label for="nf-bairro">bairro</label>
                                <div class="formulario">
                                    <input type="text" name="nf-bairro" id="nf-bairro">
                                </div>
                            </div>
                            <div class="row">
                                <label for="nf-cidade">cidade</label>
                                <div class="formulario">
                                    <input type="text" name="nf-cidade" id="nf-cidade">
                                </div>
                            </div>
                            <div class="row">
                                <label for="nf-uf">UF</label>
                                <div class="formulario">
                                    <input type="text" name="nf-uf" id="nf-uf">
                                </div>
                            </div>
                        </div>//?>
                        <div class="row row-two-lines">
                            <label for="responsavelnf">responsável<br>recebim. NF / depto</label>
                            <div class="formulario">
                                <input type="text" name="nf_resp" id="responsavelnf">
                            </div>
                        </div>
                        <div class="row row-two-lines">
                            <label for="emailresponsavelnf">e-mail do responsável<br>pelo recebimento NF</label>
                            <div class="formulario">
                                <input type="email" name="nf_resp_email" id="emailresponsavelnf">
                            </div>
                        </div>
                        <div class="row row-two-lines">
                            <label>necessita número de<br>pedido de compra</label>
                            <div class="formulario">
                                <label style="margin-right:46px;">
                                    <input type="radio" name="nf_num_pedido" value="1" checked>
                                    sim
                                </label>
                                <label>
                                    <input type="radio" name="nf_num_pedido" value="0">
                                    não
                                </label>
                            </div>
                        </div>
                        <?/*<div class="row">
                            <label>endereço de cobrança</label>
                            <div class="formulario">
                                <label>
                                    <input type="radio" name="enderecocobranca" value="mesmo" class="form-novoendereco-handle" checked>
                                    o mesmo
                                </label>
                                <label>
                                    <input type="radio" name="enderecocobranca" value="novo" class="form-novoendereco-handle">
                                    cadastrar novo
                                </label>
                            </div>
                        </div>
                        <div class="form-novo-endereco">
                            <div class="row">
                                <label for="cobranca-cep">CEP</label>
                                <div class="formulario">
                                    <input type="text" name="cobranca-cep" id="cobranca-cep">
                                </div>
                            </div>
                            <div class="row">
                                <label for="cobranca-endereco">endereço</label>
                                <div class="formulario">
                                    <input type="text" name="cobranca-endereco" id="cobranca-endereco">
                                </div>
                            </div>
                            <div class="row">
                                <label for="cobranca-numero">número</label>
                                <div class="formulario">
                                    <input type="text" name="cobranca-numero" id="cobranca-numero">
                                </div>
                            </div>
                            <div class="row">
                                <label for="cobranca-complemento">complemento</label>
                                <div class="formulario">
                                    <input type="text" name="cobranca-complemento" id="cobranca-complemento">
                                </div>
                            </div>
                            <div class="row">
                                <label for="cobranca-bairro">bairro</label>
                                <div class="formulario">
                                    <input type="text" name="cobranca-bairro" id="cobranca-bairro">
                                </div>
                            </div>
                            <div class="row">
                                <label for="cobranca-cidade">cidade</label>
                                <div class="formulario">
                                    <input type="text" name="cobranca-cidade" id="cobranca-cidade">
                                </div>
                            </div>
                            <div class="row">
                                <label for="cobranca-uf">UF</label>
                                <div class="formulario">
                                    <input type="text" name="cobranca-uf" id="cobranca-uf">
                                </div>
                            </div>
                        </div>//?>

                        <h6>DADOS COMPLEMENTARES DO RESPONSÁVEL PELAS INSCRIÇÕES</h6>
                        <div class="row">
                            <label for="telefone">telefone de contato</label>
                            <div class="formulario">
                                <input type="text" name="telefone" id="telefone" class="mask-tel">
                            </div>
                        </div>
                        <div class="row">
                            <label for="funcaoarea">função / área</label>
                            <div class="formulario">
                                <input type="text" name="funcao_area" id="funcao_area">
                            </div>
                        </div>

                        <?/*<h6>DADOS DE PAGAMENTO</h6>
                        <label class="forma-pagamento">
                            <input type="radio" name="pagamento" value="boleto">
                            boleto
                        </label>
                        <label class="forma-pagamento">
                            <input type="radio" name="pagamento" value="cartao">
                            cartão de crédito
                        </label>
                        <div class="row">
                            <label>bandeira</label>
                            <div class="formulario">
                                <label>
                                    <input type="radio" name="bandeira" value="visa">
                                    VISA
                                </label>
                                <label>
                                    <input type="radio" name="bandeira" value="mastercard">
                                    Mastercard
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <label for="numero-cartao">número do cartão</label>
                            <div class="formulario">
                                <input type="text" name="numero-cartao" id="numero-cartao">
                            </div>
                        </div>
                        <div class="row">
                            <label for="vencimento-cartao">vencimento</label>
                            <div class="formulario">
                                <input type="text" name="vencimento-cartao" id="vencimento-cartao">
                            </div>
                        </div>
                        <div class="row">
                            <label for="codigo-seguranca-cartao">código de segurança</label>
                            <div class="formulario">
                                <input type="text" name="codigo-seguranca-cartao" id="codigo-seguranca-cartao">
                            </div>
                        </div>//?>
                        <div class="row codigo-promocional">
                            <label for="codigo-promocional">CÓDIGO PROMOCIONAL</label>
                            <div class="formulario">
                                <input type="text" name="codigo-promocional" id="codigo-promocional" class="cod-promo-cod item-cupom-desconto" placeholder="Insira o código aqui e tecle [ENTER]">
                                <? $cart_pids = array(); ?>
                                <span class="status-cod-promo cart-item-cupom-desconto-price"></span>
                                <? foreach($this->cart->items as $item){ $cart_pids[]=$item->item->id; } ?>
                                <? $cart_pids = implode(',', $cart_pids); ?>
                                <input type="hidden" id="codigo-promocional-produtos" class="cod-promo-pids item-cupom-produtos" value="<?=$cart_pids?>" >
                                <p>Se você possui um código promocional insira-o aqui para obter seu desconto.</p>
                            </div>
                        </div>

                        <br><br>
                        <label>
                            <input type="checkbox" name="termos" id="termos" value="1">
                            Li e aceito integralmente todos o 
                            <strong><a href="<?=URL?>/termos-e-condicoes-comerciais?iframe" id="link-termos-opener" data-fancybox-type="iframe">TERMOS E CONDIÇÕES COMERCIAIS</a></strong>
                            para a aquisição do curso supra citado.
                        </label>

                        <a href="#" class="form-submit">
                            <span>PROSSEGUIR: PASSO 4: CONFIRMAR E FINALIZAR INSCRIÇÃO</span>
                        </a>
                    </form>
                </div>*/?>