<form action="<?=URL?>/meu-cadastro/meus-pedidos" id="meus-pedidos-busca" method="get">
	<legend>Filtrar pedidos</legend>
	<ul>
		<li>
			<label for="pedido_status_id">por status:</label>
			<?=$this->formSelect('pedido_status_id',@$_GET['pedido_status_id'],array('class'=>'txt'),$this->pedidos_status)?>
		</li>
		<li>
			<label for="">pesquisar por número:</label>
			<input type="text" class="txt" name="pedido_id" id="pedido_id" value="<?=$_GET['pedido_id']?>" />
		</li>
		<li>
			<label for="">pesquisar por data (mm/aaaa):</label>
			<input type="text" class="txt datas" name="data_de_mes" id="data_de_mes" value="<?=@$_GET['data_de_mes']?>" maxlength="2" /> /
			<input type="text" class="txt datas" name="data_de_ano" id="data_de_ano" value="<?=@$_GET['data_de_ano']?>" maxlength="4" /> até
			<input type="text" class="txt datas" name="data_ate_mes" id="data_ate_mes" value="<?=@$_GET['data_ate_mes']?>" maxlength="2" /> /
			<input type="text" class="txt datas" name="data_ate_ano" id="data_ate_ano" value="<?=@$_GET['data_ate_ano']?>" maxlength="4" />
		</li>
		<li>
			<a href="#" class="submit" id="submit">Filtrar</a>
		</li>
	</ul>
</form>