            <? $this->step = 2; ?>
            <?=$this->render('meu-carrinho/passos.phtml')?>

            <h1 class="dados-pessoais">
                CADASTRO DE GRUPOS
                <? if($this->login->user){ ?>
                <a href="<?=URL?>/login/logout">sair [X]</a>
                <? } ?>
            </h1>

            <form action="<?=URL.'/'.$this->controller?>/save2grupo" method="post" class="form-inscricao-padrao dados-pessoais-form">
                <div class="participante">
                    <label>
                        <span>nome completo do participante</span>
                        <input type="text" name="nomecompleto[]" id="nomecompleto" required>
                    </label>
                    <label>
                        <span>e-mail do participante</span>
                        <input type="email" name="email[]" id="email" required>
                    </label>
                </div>
                <a href="#" class="adicionar-participante">
                    <span></span> ADICIONAR OUTRO PARTICIPANTE
                </a>

                <p class="legenda-form">Cada participante receberá um e-mail para criar seu login individual e completar seus dados pessoais no sistema.<br>Você receberá um e-mail com as informações do grupo cadastrado e do pagamento.</p>

                <input type="submit" class="prosseguir" value="PROSSEGUIR &raquo; 3: INFORMAR DADOS DE PAGAMENTO">
            </form>

                <?/*<h4>
                    <? if($this->login->user){ ?>
                    <a href="<?=URL?>/login/logout" class="botao-sair">sair [x]</a>
                    <? } ?>
                    FORMULÁRIO DE INSCRIÇÃO
                </h4>
                <div class="inscricao-wrapper">
                    <? $this->step = 2; ?>
                    <?=$this->render('meu-carrinho/passos.phtml')?>

                    <h5>NOVO CADASTRO</h5>
                    <h6>CADASTRO DE GRUPOS</h6>
                    <form action="<?=URL.'/'.$this->controller?>/save2grupo" method="post" class="form-inscricao-padrao">
                        <div class="row">
                            <label for="nomecompleto">nome completo</label>
                            <div class="formulario">
                                <input type="text" name="nomecompleto[]" id="nomecompleto">
                            </div>
                        </div>
                        <div class="row">
                            <label for="email">e-mail</label>
                            <div class="formulario">
                                <input type="email" name="email[]" id="email">
                            </div>
                        </div>
                        <div class="row row-adiciona-participante">
                            <div class="formulario">
                                <a href="#" class="adiciona-participante">ACRESCENTAR OUTRO PARTICIPANTE</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="formulario">
                                <p>Cada participante receberá um e-mail para criar seu login individual. Você receberá um e-mail com as informações do grupo cadastrado e do pagamento.</p>
                            </div>
                        </div>
                        <a href="#" class="form-submit">
                            <span>PROSSEGUIR: PASSO 3: INFORMAR DADOS DE COBRANÇA</span>
                        </a>
                    </form>
                </div>*/?>