            <? $this->step = 2; ?>
            <?=$this->render('meu-carrinho/passos.phtml')?>

            <h1 class="dados-pessoais">
            	DADOS PESSOAIS
            	<? if($this->login->user){ ?>
                <a href="<?=URL?>/login/logout" class="botao-sair">sair [x]</a>
                <? } ?>
            </h1>

            <div class="dados-pessoais-botoes">
                <a href="<?=URL.'/cadastro/index2'?>">CADASTRAR UM ÚNICO PARTICIPANTE</a>
                <a href="<?=URL.'/cadastro/index2-grupo'?>">CADASTRAR UM GRUPO DE PARTICIPANTES</a>
            </div>