            <? $this->step = 2; ?>
            <?=$this->render('meu-carrinho/passos.phtml')?>

            <h1 class="dados-pessoais">
                DADOS PESSOAIS
                <? if($this->login->user){ ?>
                <a href="<?=URL?>/login/logout" class="botao-sair">sair [x]</a>
                <? } ?>
            </h1>

            <form action="<?=URL.'/'.$this->controller?>/save2" method="post" class="form-inscricao-padrao dados-pessoais-form">
                <label>
                    <span>CPF</span>
                    <input type="text" name="cpf" required class="mask-cpf" value="<?=@$this->dadosCadastro['cpf']?>">
                </label>
                <label>
                    <span>nome completo</span>
                    <input type="text" name="nome" required value="<?=@$this->dadosCadastro['nome']?>">
                </label>
                <label>
                    <span>nome (crachá)</span>
                    <input type="text" name="apelido" required value="<?=@$this->dadosCadastro['apelido']?>">
                </label>
                <label>
                    <span>telefone para contato</span>
                    <input type="text" name="telefone" required class="half-width mask-cel" value="<?=@$this->dadosCadastro['telefone']?>">
                </label>
                <label>
                    <span>outro telefone para contato</span>
                    <input type="text" name="celular" class="half-width mask-cel" value="<?=@$this->dadosCadastro['celular']?>">
                </label>
                <label>
                    <span>empresa</span>
                    <input type="text" name="empresa" value="<?=@$this->dadosCadastro['empresa']?>">
                </label>
                <label>
                    <span>cargo</span>
                    <input type="text" name="cargo" value="<?=@$this->dadosCadastro['cargo']?>">
                </label>
                <label>
                    <span>website</span>
                    <input type="text" name="site" value="<?=@$this->dadosCadastro['site']?>">
                </label>
                <label>
                    <span>CEP</span>
                    <input type="text" name="cep" id="cep" required class="half-width mask-cep" placeholder="digite para simular a busca" value="<?=@$this->dadosCadastro['cep']?>">
                    <div class="loading">&middot;&middot;&middot;</div>
                </label>
                <div class="campos-cep <?=(bool)trim(@$this->dadosCadastro['cep']) ? '' : 'hidden'?>">
                    <label>
                        <span>endereço</span>
                        <input type="text" name="logradouro" id="logradouro" required value="<?=@$this->dadosCadastro['logradouro']?>">
                    </label>
                    <label>
                        <span>número</span>
                        <input type="text" name="numero" id="numero" required class="quarter-width" value="<?=@$this->dadosCadastro['numero']?>">
                    </label>
                    <label>
                        <span>complemento</span>
                        <input type="text" name="complemento" id="complemento" class="half-width" value="<?=@$this->dadosCadastro['complemento']?>">
                    </label>
                    <label>
                        <span>bairro</span>
                        <input type="text" name="bairro" id="bairro" required value="<?=@$this->dadosCadastro['bairro']?>">
                    </label>
                    <label>
                        <span>cidade</span>
                        <input type="text" name="cidade" id="cidade" required value="<?=@$this->dadosCadastro['cidade']?>">
                    </label>
                    <label>
                        <span>UF</span>
                        <?/*<input type="text" name="uf" id="uf" required class="quarter-width" value="<?=@$this->dadosCadastro['uf']?>">*/?>
                        <?=$this->form_meus_dados->getElement('uf_id')->render()?>
                    </label>
                    <input type="submit" class="prosseguir" value="PROSSEGUIR &raquo; 3: INFORMAR DADOS DE PAGAMENTO">
                </div>
            </form>

                <?/*<h4>
                    <? if($this->login->user){ ?>
                    <a href="<?=URL?>/login/logout" class="botao-sair">sair [x]</a>
                    <? } ?>
                    FORMULÁRIO DE INSCRIÇÃO
                </h4>
                <div class="inscricao-wrapper">
                    <? $this->step = 2; ?>
                    <?=(!$this->continue_cadastro)?$this->render('meu-carrinho/passos.phtml'):''?>

                    <h5><?=($this->continue_cadastro?'FINALIZE SEU CADASTRO':'NOVO CADASTRO')?></h5>
                    <h6>DADOS PESSOAIS DO PARTICIPANTE</h6>
                    <form action="<?=URL.'/'.$this->controller?>/save2" method="post" class="form-inscricao-padrao">
                        <div class="row">
                            <label for="cpf">CPF</label>
                            <div class="formulario">
                                <input type="text" name="cpf" id="cpf" class="mask-cpf" value="<?=@$this->dadosCadastro['cpf']?>">
                            </div>
                        </div>
                        <div class="row">
                            <label for="nomecompleto">nome completo</label>
                            <div class="formulario">
                                <input type="text" name="nome" id="nomecompleto" value="<?=@$this->dadosCadastro['nome']?>">
                            </div>
                        </div>
                        <div class="row">
                            <label for="nomecracha">nome (crachá)</label>
                            <div class="formulario">
                                <input type="text" name="apelido" id="nomecracha" value="<?=@$this->dadosCadastro['apelido']?>">
                            </div>
                        </div>
                        <div class="row">
                            <label for="telefonefixo">telefone fixo</label>
                            <div class="formulario">
                                <input type="text" name="telefone" id="telefonefixo" class="mask-tel" value="<?=@$this->dadosCadastro['telefone']?>">
                            </div>
                        </div>
                        <div class="row">
                            <label for="telefonecelular">telefone celular</label>
                            <div class="formulario">
                                <input type="text" name="celular" id="telefonecelular" class="mask-cel" value="<?=@$this->dadosCadastro['celular']?>">
                            </div>
                        </div>
                        <div class="row">
                            <label for="cep">CEP</label>
                            <div class="formulario">
                                <input type="text" name="cep" id="cep" class="mask-cep" value="<?=@$this->dadosCadastro['cep']?>">
                            </div>
                        </div>
                        <div class="row">
                            <label for="endereco">endereço</label>
                            <div class="formulario">
                                <input type="text" name="logradouro" id="logradouro" value="<?=@$this->dadosCadastro['logradouro']?>">
                            </div>
                        </div>
                        <div class="row">
                            <label for="numero">número</label>
                            <div class="formulario">
                                <input type="text" name="numero" id="numero" value="<?=@$this->dadosCadastro['numero']?>">
                            </div>
                        </div>
                        <div class="row">
                            <label for="complemento">complemento</label>
                            <div class="formulario">
                                <input type="text" name="complemento" id="complemento" value="<?=@$this->dadosCadastro['complemento']?>">
                            </div>
                        </div>
                        <div class="row">
                            <label for="bairro">bairro</label>
                            <div class="formulario">
                                <input type="text" name="bairro" id="bairro" value="<?=@$this->dadosCadastro['bairro']?>">
                            </div>
                        </div>
                        <div class="row">
                            <label for="cidade">cidade</label>
                            <div class="formulario">
                                <input type="text" name="cidade" id="cidade" value="<?=@$this->dadosCadastro['cidade']?>">
                            </div>
                        </div>
                        <div class="row">
                            <label for="uf">UF</label>
                            <div class="formulario">
                                <!-- <input type="text" name="uf" id="uf" maxlength="2"> -->
                                <?//=$this->form_meus_dados->getElement('uf')->render()?>
                                <?=$this->form_meus_dados->getElement('uf_id')->render()?>
                            </div>
                        </div>
                        <div class="row">
                            <label for="empresa">empresa</label>
                            <div class="formulario">
                                <input type="text" name="empresa" id="empresa" value="<?=@$this->dadosCadastro['empresa']?>">
                            </div>
                        </div>
                        <div class="row">
                            <label for="cargo">cargo</label>
                            <div class="formulario">
                                <input type="text" name="cargo" id="cargo" value="<?=@$this->dadosCadastro['cargo']?>">
                            </div>
                        </div>
                        <div class="row">
                            <label for="atuacao">área de atuação</label>
                            <div class="formulario">
                                <input type="text" name="area_atuacao" id="area_atuacao" value="<?=@$this->dadosCadastro['area_atuacao']?>">
                            </div>
                        </div>

                        <? if($this->continue_cadastro){ ?>
                        <h6>DADOS DE LOGIN</h6>
                        <div class="row">
                            <label for="email">e-mail</label>
                            <div class="formulario">
                                <input type="email" name="email" id="email" value="<?=$this->dadosCadastro['email']?>">
                                <input type="hidden" name="id" id="id" value="<?=$this->dadosCadastro['id']?>">
                            </div>
                        </div>
                        <div class="row">
                            <label for="senha">senha</label>
                            <div class="formulario">
                                <input type="password" name="senha" id="senha">
                            </div>
                        </div>
                        <div class="row">
                            <label for="confirmasenha">confirmar senha</label>
                            <div class="formulario">
                                <input type="password" name="senhac" id="confirmasenha">
                            </div>
                        </div>
                        <? } ?>

                        <a href="#" class="form-submit">
                            <span><?=($this->continue_cadastro?'FINALIZAR SEU CADASTRO':'PROSSEGUIR: PASSO 3: INFORMAR DADOS DE COBRANÇA')?></span>
                        </a>
                    </form>
                </div>*/?>