<? $row = $this->row; ?>
<div class="main-center main-content projetos interna">
	<? $capa = $row->capa_id ? $row->thumbnail : @$row->fotos[0]->path; ?>
	<? $capa = trim($capa) ? $capa : @$row->fotos[0]->path; ?>
	<? //$img = IMG_URL.'/obras/'.($capa ? imgThumbPath($capa,'90x90') : '../not-found.jpg'); ?>
	<? //$img = IMG_URL.'/obras/'.($capa ? $capa : '../not-found.jpg'); ?>
	<? $img = URL.'/img/'.($capa ? 'obras|'.$capa.'?w=200&h=200' : 'not-found.jpg'); ?>
	<? $css = 'class="" style="background-image:url('.$img.')" '; ?>
	<h2 <?=$css?>><?=$row->titulo?> <?=$row->local?></h2>

	<?/*<div class="body"><?=$row->body?></div>*/?>

	<? if((bool)$row->fotos){ ?>
	<div id="fotos">
		<? $i=0; foreach($row->fotos as $foto){ $i++; ?>
		<? $img = IMG_URL.'/obras/'.$foto->path; ?>
		<? $class = 'foto foto-'.$i; // thumb ?>
		<? if($i%3==0){ $i=0; } ?>
		<? $css = 'class="'.$class.'" '; ?>
		<a href="<?=$img?>" <?=$css?> target="_blank" data-fancybox="projeto<?=$row->id?>">
			<img src="<?=$img?>" alt="imagem <?=$i?>">
		</a>
		<? } // /foreach row->fotos1 ?>
	</div>
	<? } // /if (bool)$row->fotos ?>

	<br clear="all">
	<a href="<?=URL?>/projetos" class="bt-voltar">voltar</a>
</div>