<div class="main-center main-content">

<div class="coluna-1">
    <a href="tel:<?=Is_Str::removeCaracteres($this->dados->tel1)?>" class="tel tl"><?=$this->dados->tel1?></a> <br>
    <a href="tel:<?=Is_Str::removeCaracteres($this->dados->tel2)?>" class="tel wp" target="_blank"><?=$this->dados->tel2?></a>
    <br><br><br>

    <?=$this->dados->endereco?> -
    <?=$this->dados->bairro?> <br>
    <?=Is_Format::cep($this->dados->cep)?> -
    <?=$this->dados->cidade?> -
    <?=$this->dados->estado?>
</div>

<div class="coluna-2">
    <form action="" class="contato" method="post">
        <ul class="first">
            <li class="li-nome">
                <input type="text" name="nome" id="nome" placeholder="nome" class="txt required" />
            </li>
            <li class="li-email">
                <input type="text" name="email" id="email" placeholder="e-mail" class="txt required" />
            </li>
            <li class="li-telefone half half-1">
                <input type="text" name="telefone" id="telefone" placeholder="telefone" class="txt mask-telcel" />
            </li>
        </ul>
        <ul class="second">
            <li class="li-mensagem">
                <textarea name="mensagem" id="mensagem" placeholder="mensagem" class="txt required"></textarea>
            </li>
        </ul>
        <ul class="third">
            <li class="submit-container">
                <a href="#" id="submit">Enviar</a>
            </li>
        </ul>
        <br clear="all" class="desktop" />
        <p class="status"></p>
    </form>

    <br clear="all" />
</div>
</div> <!-- /.main-center -->

<div class="coluna-3">
    <? if(ENV_PRO||1){ ?>
    <iframe id="mapa" src="https://maps.google.com/maps?q=<?=_parseEndereco($this->dados)?>&output=embed" width="50%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    <? } ?>
</div>
